.full-width
  - var year = new Date().getFullYear();
  span.copyright.
    &copy; #{year} Sean Monahan
  ul
    li.
      <a href="mailto:#{locals.email}">#{locals.email}</a>
    li.
      <a href="#{twitter_url}">twitter</a>
    li.
      <a href="#{github_url}">github</a>